<h1>Editing user desc</h1>

<%= render "form", user_desc: @user_desc %>

<br>

<div>
  <%= link_to "Show this user desc", @user_desc %> |
  <%= link_to "Back to user descs", user_descs_path %>
</div>
