<p style="color: green"><%= notice %></p>

<h1>User descs</h1>

<div id="user_descs">
  <% @user_descs.each do |user_desc| %>
    <%= render user_desc %>
    <p>
      <%= link_to "Show this user desc", user_desc %>
    </p>
  <% end %>
</div>

<%= link_to "New user desc", new_user_desc_path %>
